.container-nav{
	background-color: yellowgreen;
	position: fixed;
	top: rem(48px);
	right: -$off-canvas;
	width: $off-canvas;
	height: 100vh;
	padding: 1rem;
	z-index: 200;
	transition: all .4s;
	&.mostrar{
		right: 0;
	}
}

.menu{
	margin: 0;
	padding: 0;
	list-style: none;
	&-item{
		border-bottom: 1px solid black;
	}
	&-link{
		line-height: 2.7;
		display: block;
		text-transform: uppercase;
		color: black;
		padding-left: .5rem;
	}
}