block config
  include ../config/config
  
<!DOCTYPE html>
html
  head
    title Modelo
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
    meta(name="description" content="Descripción breve")
    link(href="https://file.myfontastic.com/GnBSrTdwpTsCBFa78WxP3W/icons.css" rel="stylesheet")
    link(rel="shortcut icon" type="image/x-icon" href="img-min/favicon.ico")
    link(rel="shortcut icon" type="image/png" href="img-min/favicon.png")
    link(rel="apple-touch-startup-image" href="img-min/favicon.png")
    link(rel="apple-touch-icon" href="img-min/favicon.png")   
    link(rel="stylesheet" href="css/styles.css")
  body
    block header
    block main
    block footer