extends ../templates/modelo

//- append config
//-   -currentPage = "main-container"
  
block header
  include ../sistemas/header
block main
  include ../sistemas/section
block footer
  include ../componentes/scripts