// Cajas prediseñadas

.container-block{
	display: block;
	width: 100%;
}

.container-flex{
	display: flex;
	justify-content: space-between
}

.container-column{
	display: flex;
	flex-direction: column;
}

.container-wrap{
	display: flex;
	flex-wrap: wrap;
}

.l-container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}


/*Tecnica 1 float left/right*/

.floatl{float: left;}
.floatr{float: right;}
.clear, .clear::after, .clear::before{clear: both;}

.clear::after, .clear::before{
	content: "";
	display: block;
}

/*Técnica 2 dispĺay: inline-block;*/

.i-b{ display: inline-block;}

/*Técnica de maquetación 3 con flexbox*/

/* Para container */

.flex{display: flex;}
.flex-inline{display: inline-flex;}
.flex-row{flex-direction: row;}
.flex-row-reverse{flex-direction: row-reverse}
.flex-column{flex-direction: column;}
.flex-column-reverse{flex-direction: column-reverse;}
.flex-nowrap{flex-wrap: nowrap;}
.flex-wrap{flex-wrap: wrap;}
.flex-wrap-reverse{flex-wrap: wrap-reverse;}
.jc-flex-start{justify-content: flex-start;}
.jc-flex-end{justify-content: flex-end;}
.jc-flex-center{justify-content: center;}
.jc-space-between{justify-content: space-between;}
.jc-space-around{justify-content: space-around;}
.ai-flex-start{align-items: flex-start;}
.ai-flex-end{align-items: flex-end;}
.ai-center{align-items: center;}
.ai-baseline{align-items: baseline;}
.ai-stretch{align-items: stretch;}
.ac-flex-start{align-content: flex-start;}
.ac-flex-end{align-content: flex-end;}
.ac-center{align-content: center;}
.ac-space-between{align-content: space-between;}
.ac-space-around{align-content: space-around;}
.ac-stretch{align-content: stretch;}

/* Para Items */

.flex-none{flex: none;}
.flex-auto{flex: auto;}
.as-flex-start{align-self: flex-start;}
.as-flex-end{align-self: flex-end;}
.as-center{align-self: center;}
.as-baseline{align-self: baseline;}
.as-strecht{align-self: stretch;}
.as-auto{align-self: auto;}

/* Alineaciones verticales y horizontales */

.v-top{vertical-align: top;}
.v-middle{vertical-align: middle;}
.v-bottom{vertical-align: bottom;}
.v-baseline{vertical-align: baseline;}
.left{text-align: left;}
.center{text-align: center;}
.right{text-align: right;}
.justify{text-align: justify;}

/* Tamaños de fuentes */

.f0{font-size: 0;}
.f_25{font-size: .25rem;}
.f_5{font-size: .5rem;}
.f_75{font-size: .75rem;}
.f1{font-size: 1rem;}
.f1_25{font-size: 1.25rem;}
.f1_5{font-size: 1.5rem;}
.f1_75{font-size: 1.75rem;}
.f2{font-size: 2rem;}
.f2_5{font-size: 2.5rem;}
.f3{font-size: 3rem;}
.f3_5{font-size: 3.5rem;}
.f4{font-size: 4rem;}
.f4_5{font-size: 4.5rem;}
.f5{font-size: 5rem;}

/* Margin y padding */

.mauto{margin: auto;}
.m0{margin: 0;}
.m_25{margin: .25rem;}
.m_5{margin: .5rem;}
.m_75{margin: .75rem;}
.m1{margin: 1rem;}
.m1_25{margin: 1.25rem;}
.m1_5{margin: 1.5rem;}
.m1_75{margin: 1.75rem;}
.m2{margin: 2rem;}

.pauto{padding: auto;}
.p0{padding: 0;}
.p_25{padding: .25rem;}
.p_5{padding: .5rem;}
.p_75{padding: .75rem;}
.p1{padding: 1rem;}
.p1_25{padding: 1.25rem;}
.p1_5{padding: 1.5rem;}
.p1_75{padding: 1.75rem;}
.p2{padding: 2rem;}

/* Borde y Display */

.border{border: thin solid #000;}
.noborder{border: 0;}
.round{border-radius: 100%;}
.noround{border-radius: 0;}

.inline{display: inline;}
.block{display: block;}
.none{display: none;}

/* Elementos de lista */

.bullet{
	margin-left: 1rem;
	list-style-type: inherit;
	list-style-position: inside;
}

.nobullet{
	margin-left: 0;
	list-style-type: none;
}



@media screen and (min-width: 30em){
	/*Técnica 1 float left/right*/
	.sm-floatl{float: left;}
	.sm-floatr{float: right;}
	.sm-clear, .sm-clear::after, .sm-clear::before{clear: both;}

	.sm-clear::after, .sm-clear::before{
		content: "";
		display: block;
	}

	/*Técnica 2 dispĺay: inline-block;*/
	.sm-i-b{ display: inline-block;}

	/*Técnica de maquetación 3 con flexbox*/

	/* Para container */

	.sm-flex{display: flex;}
	.sm-flex-inline{display: inline-flex;}
	.sm-flex-row{flex-direction: row;}
	.sm-flex-row-reverse{flex-direction: row-reverse}
	.sm-flex-column{flex-direction: column;}
	.sm-flex-column-reverse{flex-direction: column-reverse}
	.sm-flex-nowrap{flex-wrap: nowrap;}
	.sm-flex-wrap{flex-wrap: wrap;}
	.sm-flex-wrap-reverse{flex-wrap: wrap-reverse;}
	.sm-jc-flex-start{justify-content: flex-start;}
	.sm-jc-flex-end{justify-content: flex-end;}
	.sm-jc-flex-center{justify-content: center;}
	.sm-jc-space-between{justify-content: space-between;}
	.sm-jc-space-around{justify-content: space-around;}
	.sm-ai-flex-start{align-items: flex-start;}
	.sm-ai-flex-end{align-items: flex-end;}
	.sm-ai-center{align-items: center;}
	.sm-ai-baseline{align-items: baseline;}
	.sm-ai-stretch{align-items: stretch;}
	.sm-ac-flex-start{align-content: flex-start;}
	.sm-ac-flex-end{align-content: flex-end;}
	.sm-ac-center{align-content: center;}
	.sm-ac-space-between{align-content: space-between;}
	.sm-ac-space-around{align-content: space-around;}
	.sm-ac-stretch{align-content: stretch;}

	/* Para Items */

	.sm-flex-none{flex: none;}
	.sm-flex-auto{flex: auto;}
	.sm-as-flex-start{align-self: flex-start;}
	.sm-as-flex-end{align-self: flex-end;}
	.sm-as-center{align-self: center;}
	.sm-as-baseline{align-self: baseline;}
	.sm-as-strecht{align-self: stretch;}
	.sm-as-auto{align-self: auto;}

	/* Alineaciones verticales y horizontales */

	.sm-v-top{vertical-align: top;}
	.sm-v-middle{vertical-align: middle;}
	.sm-v-bottom{vertical-align: bottom;}
	.sm-v-baseline{vertical-align: baseline;}
	.sm-left{text-align: left;}
	.sm-center{text-align: center;}
	.sm-right{text-align: right;}
	.sm-justify{text-align: justify;}

	/* Tamaños de fuentes */

	.sm-f0{font-size: 0;}
	.sm-f_25{font-size: .25rem;}
	.sm-f_5{font-size: .5rem;}
	.sm-f_75{font-size: .75rem;}
	.sm-f1{font-size: 1rem;}
	.sm-f1_25{font-size: 1.25rem;}
	.sm-f1_5{font-size: 1.5rem;}
	.sm-f1_75{font-size: 1.75rem;}
	.sm-f2{font-size: 2rem;}
	.sm-f2_5{font-size: 2.5rem;}
	.sm-f3{font-size: 3rem;}
	.sm-f3_5{font-size: 3.5rem;}
	.sm-f4{font-size: 4rem;}
	.sm-f4_5{font-size: 4.5rem;}
	.sm-f5{font-size: 5rem;}

	/* Margin y padding */

	.sm-mauto{margin: auto;}
	.sm-m0{margin: 0;}
	.sm-m_25{margin: .25rem;}
	.sm-m_5{margin: .5rem;}
	.sm-m_75{margin: .75rem;}
	.sm-m1{margin: 1rem;}
	.sm-m1_25{margin: 1.25rem;}
	.sm-m1_5{margin: 1.5rem;}
	.sm-m1_75{margin: 1.75rem;}
	.sm-m2{margin: 2rem;}

	.sm-pauto{padding: auto;}
	.sm-p0{padding: 0;}
	.sm-p_25{padding: .25rem;}
	.sm-p_5{padding: .5rem;}
	.sm-p_75{padding: .75rem;}
	.sm-p1{padding: 1rem;}
	.sm-p1_25{padding: 1.25rem;}
	.sm-p1_5{padding: 1.5rem;}
	.sm-p1_75{padding: 1.75rem;}
	.sm-p2{padding: 2rem;}

	/* Borde y Display */

	.sm-border{border: thin solid #000;}
	.sm-noborder{border: 0;}
	.sm-round{border-radius: 100%;}
	.sm-noround{border-radius: 0;}

	.sm-inline{display: inline;}
	.sm-block{display: block;}
	.sm-none{display: none;}

	/* Elementos de lista */

	.sm-bullet{
		margin-left: 1rem;
		list-style-type: inherit;
		list-style-position: inside;
	}

	.sm-nobullet{
		margin-left: 0;
		list-style-type: none;
	}
}

@media screen and (min-width: 48em){
	/*Tecnica 1 float left/right*/
	.md-floatl{float: left;}
	.md-floatr{float: right;}
	.md-clear, .md-clear::after, .md-clear::before{clear: both;}

	.md-clear::after, .md-clear::before{
		content: "";
		display: block;
	}

	/*Técnica 2 dispĺay: inline-block;*/
	.md-i-b{ display: inline-block;}

		/*Técnica de maquetación 3 con flexbox*/

	/* Para container */

	.md-flex{display: flex;}
	.md-flex-inline{display: inline-flex;}
	.md-flex-row{flex-direction: row;}
	.md-flex-row-reverse{flex-direction: row-reverse}
	.md-flex-column{flex-direction: column;}
	.md-flex-column-reverse{flex-direction: column-reverse}
	.md-flex-nowrap{flex-wrap: nowrap;}
	.md-flex-wrap{flex-wrap: wrap;}
	.md-flex-wrap-reverse{flex-wrap: wrap-reverse;}
	.md-jc-flex-start{justify-content: flex-start;}
	.md-jc-flex-end{justify-content: flex-end;}
	.md-jc-flex-center{justify-content: center;}
	.md-jc-space-between{justify-content: space-between;}
	.md-jc-space-around{justify-content: space-around;}
	.md-ai-flex-start{align-items: flex-start;}
	.md-ai-flex-end{align-items: flex-end;}
	.md-ai-center{align-items: center;}
	.md-ai-baseline{align-items: baseline;}
	.md-ai-stretch{align-items: stretch;}
	.md-ac-flex-start{align-content: flex-start;}
	.md-ac-flex-end{align-content: flex-end;}
	.md-ac-center{align-content: center;}
	.md-ac-space-between{align-content: space-between;}
	.md-ac-space-around{align-content: space-around;}
	.md-ac-stretch{align-content: stretch;}

	/* Para Items */

	.md-flex-none{flex: none;}
	.md-flex-auto{flex: auto;}
	.md-as-flex-start{align-self: flex-start;}
	.md-as-flex-end{align-self: flex-end;}
	.md-as-center{align-self: center;}
	.md-as-baseline{align-self: baseline;}
	.md-as-strecht{align-self: stretch;}
	.md-as-auto{align-self: auto;}

	/* Alineaciones verticales y horizontales */

	.md-v-top{vertical-align: top;}
	.md-v-middle{vertical-align: middle;}
	.md-v-bottom{vertical-align: bottom;}
	.md-v-baseline{vertical-align: baseline;}
	.md-left{text-align: left;}
	.md-center{text-align: center;}
	.md-right{text-align: right;}
	.md-justify{text-align: justify;}

	/* Tamaños de fuentes */

	.md-f0{font-size: 0;}
	.md-f_25{font-size: .25rem;}
	.md-f_5{font-size: .5rem;}
	.md-f_75{font-size: .75rem;}
	.md-f1{font-size: 1rem;}
	.md-f1_25{font-size: 1.25rem;}
	.md-f1_5{font-size: 1.5rem;}
	.md-f1_75{font-size: 1.75rem;}
	.md-f2{font-size: 2rem;}
	.md-f2_5{font-size: 2.5rem;}
	.md-f3{font-size: 3rem;}
	.md-f3_5{font-size: 3.5rem;}
	.md-f4{font-size: 4rem;}
	.md-f4_5{font-size: 4.5rem;}
	.md-f5{font-size: 5rem;}

	/* Margin y padding */

	.md-mauto{margin: auto;}
	.md-m0{margin: 0;}
	.md-m_25{margin: .25rem;}
	.md-m_5{margin: .5rem;}
	.md-m_75{margin: .75rem;}
	.md-m1{margin: 1rem;}
	.md-m1_25{margin: 1.25rem;}
	.md-m1_5{margin: 1.5rem;}
	.md-m1_75{margin: 1.75rem;}
	.md-m2{margin: 2rem;}

	.md-pauto{padding: auto;}
	.md-p0{padding: 0;}
	.md-p_25{padding: .25rem;}
	.md-p_5{padding: .5rem;}
	.md-p_75{padding: .75rem;}
	.md-p1{padding: 1rem;}
	.md-p1_25{padding: 1.25rem;}
	.md-p1_5{padding: 1.5rem;}
	.md-p1_75{padding: 1.75rem;}
	.md-p2{padding: 2rem;}

	/* Borde y Display */

	.md-border{border: thin solid #000;}
	.md-noborder{border: 0;}
	.md-round{border-radius: 100%;}
	.md-noround{border-radius: 0;}

	.md-inline{display: inline;}
	.md-block{display: block;}
	.md-none{display: none;}

	/* Elementos de lista */

	.md-bullet{
		margin-left: 1rem;
		list-style-type: inherit;
		list-style-position: inside;
	}

	.md-nobullet{
		margin-left: 0;
		list-style-type: none;
	}
}

@media screen and (min-width: 64em){
	/*Tecnica 1 float left/right*/
	.lg-floatl{float: left;}
	.lg-floatr{float: right;}
	.lg-clear, .lg-clear::after, .lg-clear::before{clear: both;}

	.lg-clear::after, .lg-clear::before{
		content: "";
		display: block;
	}

	/*Técnica 2 dispĺay: inline-block;*/
	.lg-i-b{ display: inline-block;}

	/*Técnica de maquetación 3 con flexbox*/

	/* Para container */

	.lg-flex{display: flex;}
	.lg-flex-inline{display: inline-flex;}
	.lg-flex-row{flex-direction: row;}
	.lg-flex-row-reverse{flex-direction: row-reverse}
	.lg-flex-column{flex-direction: column;}
	.lg-flex-column-reverse{flex-direction: column-reverse}
	.lg-flex-nowrap{flex-wrap: nowrap;}
	.lg-flex-wrap{flex-wrap: wrap;}
	.lg-flex-wrap-reverse{flex-wrap: wrap-reverse;}
	.lg-jc-flex-start{justify-content: flex-start;}
	.lg-jc-flex-end{justify-content: flex-end;}
	.lg-jc-flex-center{justify-content: center;}
	.lg-jc-space-between{justify-content: space-between;}
	.lg-jc-space-around{justify-content: space-around;}
	.lg-ai-flex-start{align-items: flex-start;}
	.lg-ai-flex-end{align-items: flex-end;}
	.lg-ai-center{align-items: center;}
	.lg-ai-baseline{align-items: baseline;}
	.lg-ai-stretch{align-items: stretch;}
	.lg-ac-flex-start{align-content: flex-start;}
	.lg-ac-flex-end{align-content: flex-end;}
	.lg-ac-center{align-content: center;}
	.lg-ac-space-between{align-content: space-between;}
	.lg-ac-space-around{align-content: space-around;}
	.lg-ac-stretch{align-content: stretch;}

	/* Para Items */

	.lg-flex-none{flex: none;}
	.lg-flex-auto{flex: auto;}
	.lg-as-flex-start{align-self: flex-start;}
	.lg-as-flex-end{align-self: flex-end;}
	.lg-as-center{align-self: center;}
	.lg-as-baseline{align-self: baseline;}
	.lg-as-strecht{align-self: stretch;}
	.lg-as-auto{align-self: auto;}

	/* Alineaciones verticales y horizontales */

	.lg-v-top{vertical-align: top;}
	.lg-v-middle{vertical-align: middle;}
	.lg-v-bottom{vertical-align: bottom;}
	.lg-v-baseline{vertical-align: baseline;}
	.lg-left{text-align: left;}
	.lg-center{text-align: center;}
	.lg-right{text-align: right;}
	.lg-justify{text-align: justify;}

	/* Tamaños de fuentes */

	.lg-f0{font-size: 0;}
	.lg-f_25{font-size: .25rem;}
	.lg-f_5{font-size: .5rem;}
	.lg-f_75{font-size: .75rem;}
	.lg-f1{font-size: 1rem;}
	.lg-f1_25{font-size: 1.25rem;}
	.lg-f1_5{font-size: 1.5rem;}
	.lg-f1_75{font-size: 1.75rem;}
	.lg-f2{font-size: 2rem;}
	.lg-f2_5{font-size: 2.5rem;}
	.lg-f3{font-size: 3rem;}
	.lg-f3_5{font-size: 3.5rem;}
	.lg-f4{font-size: 4rem;}
	.lg-f4_5{font-size: 4.5rem;}
	.lg-f5{font-size: 5rem;}

	/* Margin y padding */

	.lg-mauto{margin: auto;}
	.lg-m0{margin: 0;}
	.lg-m_25{margin: .25rem;}
	.lg-m_5{margin: .5rem;}
	.lg-m_75{margin: .75rem;}
	.lg-m1{margin: 1rem;}
	.lg-m1_25{margin: 1.25rem;}
	.lg-m1_5{margin: 1.5rem;}
	.lg-m1_75{margin: 1.75rem;}
	.lg-m2{margin: 2rem;}

	.lg-pauto{padding: auto;}
	.lg-p0{padding: 0;}
	.lg-p_25{padding: .25rem;}
	.lg-p_5{padding: .5rem;}
	.lg-p_75{padding: .75rem;}
	.lg-p1{padding: 1rem;}
	.lg-p1_25{padding: 1.25rem;}
	.lg-p1_5{padding: 1.5rem;}
	.lg-p1_75{padding: 1.75rem;}
	.lg-p2{padding: 2rem;}

	/* Borde y Display */

	.lg-border{border: thin solid #000;}
	.lg-noborder{border: 0;}
	.lg-round{border-radius: 100%;}
	.lg-noround{border-radius: 0;}

	.lg-inline{display: inline;}
	.lg-block{display: block;}
	.lg-none{display: none;}

	/* Elementos de lista */

	.lg-bullet{
		margin-left: 1rem;
		list-style-type: inherit;
		list-style-position: inside;
	}

	.lg-nobullet{
		margin-left: 0;
		list-style-type: none;
	}
}