nav#nav.container-nav
  ul.container-flex.menu
    li.menu-item
      a(href="#" class="menu-link") Item 1
    li.menu-item
      a(href="#" class="menu-link") Item 2
    li.menu-item
      a(href="#" class="menu-link") Item 3
    li.menu-item
      a(href="#" class="menu-link") Item 4
    li.menu-item
      a(href="#" class="menu-link") Item 5
    li.menu-item
      a(href="#" class="menu-link") Item 6
    li.menu-item
      a(href="#" class="menu-link") Item 7