// Aqui se guardaran las variables
 // colores, typografias, etc.

 //Paleta de colores

 $colors:(
   bg-header: #151E2D,
   bg-light: #334359,
   bg-ultralight: #192436,
   button-sell:#E73917,
   button-hover: #468DE5,
   alert: #C03A31,
   success: #F35919,
   white: #fff,
   bg-body:#e1e6e1
   );

 //Funciones

 //Para obtener color

 @function color($color) {
   @return map-get($colors,$color);
 }

 // Con esta función, para capturar el color bastaria poner, por ejemplo:
  //
  // div{
  //   background: color(gris-claro);
  // }

  // Funcion para obtener imagenes

  @function img($img) {
    @return url('../img/#{$img}');
  }

  // Convertir px a em

  @function em($el,$parent:16px) {
    @return ($el / $parent) * 1em;
  }

  // Convertir px a rem

  @function rem($el) {
    @return ($el / 16px) * 1rem;
  }

 // Fuentes

 // Importar Tipografía

 @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

 $main-font: 'Ubuntu', sans-serif; //Tipo de fuente
 $light: 300; //Ancho de fuente
 $normal: 400; //Ancho de fuente

 //Tamaños de fuentes

 $font-size: em(14px);
 $h3-size: $font-size * 1.7;
 $h2-size: $font-size * 1.35;
 $h1-size: $font-size * 1.15;

 // Importar iconos

 // @import url(https://file.myfontastic.com/GnBSrTdwpTsCBFa78WxP3W/icons.css);

 //Off-canvas para el menu

 $off-canvas: 15em; //modificar segun necesidad o mejora

//Layout

 $max-width: 1200px;
 // .l-container{ //Layout container, para definir los limites de los contenidos
 //
 // }

 //Gutter para las separaciones

 $gutter: 1em;

 //Breakpoints

  $small: 480px;
  $medium: 768px;
  $large: 1025px;
  $x-large: 1400px;

 //Mixin para media query

 @mixin desde($size){
   @media screen and (min-width: $size){
     @content;
   }
 }